server {
    listen 80;
    server_name myapp.django localhost 0.0.0.0 127.0.0.1;
    
    location /static/ {
        root /opt/myapp/static/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}